<div ng-show="error" class="alert alert-danger" role="alert">Error, wrong URL</div>
<div ng-show="noArtwork" class="alert alert-info" role="alert">This track has no artwork</div>

<div class="container">
  Copy the track URL here :
  <input ng-model="trackUrl" type="text">
  <button ng-click="getArtwork(trackUrl)" class="btn btn-primary">Get Artwork</button>
  <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>

<div class="artwork">
  <img ng-src="{{ getLargeArtwork(track.artwork_url)}}" alt="">
</div>
